@using CorpNetMessenger.Domain.Entities
@model IEnumerable<User>

@{
    ViewData["Title"] = "Пользователи";
}

<h2>Панель администратора - Пользователи</h2>
<ul>
    @foreach (var user in Model)
    {
        <li>@user.Name @user.LastName</li>
    }
</ul>