@model IEnumerable<MessageViewModel>
@{
    ViewData["Title"] = "Chat";
}

<div>
        <input type="file" id="fileInput" style="display: none;" multiple />
        <button id="addFileBtn">📎 Добавить файл</button>

        <ul id="fileList" class="file-list"></ul>

        <textarea id="message" placeholder="Введите сообщение..."></textarea>
        <input type="button" id="sendBtn" value="Отправить" disabled="disabled" />
</div>
<div id="chatroom">
    @foreach (var message in Model)
    {
        <p>
            <b>@message.SentAt @message.UserName: </b>
            @message.Content
            @if (message.Attachments.Count() > 0)
            {
                @foreach (var attachment in message.Attachments)
                {
                    <a href="/api/messages/download/@attachment.Id">
                        @attachment.Name
                    </a>
                }
            }
        </p>
    }
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
