@model ContactPanelViewModel

<div class="current-user-container">
    <div class="current-user">
        <div class="user-avatar-large">
            <i class="bi bi-person-fill"></i>
        </div>
        <div class="user-info">
            <div class="user-name">@Model.CurrentUser.UserName</div>
            <div class="user-role">@Model.CurrentUser.PostName</div>
        </div>
        <div class="settings-icon">
            <i class="bi bi-gear"></i>
        </div>
    </div>

    <div class="search-container">
        <input class="search-input" type="text" placeholder=" Сотрудники" />
        <i class="bi bi-search search-icon"></i>
    </div>
</div>

<div class="employee-list">
    @foreach (var contact in Model.Contacts)
    {
        <div class="employee-item">
            <div class="employee-avatar">
                <i class="bi bi-person-fill"></i>
            </div>
            <div class="employee-info">
                <div class="employee-name">@contact.UserName</div>
                <span class="employee-post">@contact.PostName</span>
            </div>
        </div>
    }
</div>