@model ContactPanelViewModel

<div class="current-user-container">
    <div class="current-user">
        <img class="user-avatar-large" src="@Url.Action("GetAvatar", "Account", new { userId = Model.CurrentUser.Id })" alt="Аватар" />
        <div class="user-info">
            <div class="user-name">@Model.CurrentUser.UserName</div>
            <div class="user-role">@Model.CurrentUser.PostName</div>
        </div>
        <a href="/Account/Edit" class="settings-icon">
            <i class="bi bi-gear"></i>
        </a>
    </div>

    <div class="search-container">
        <input id="searchInput" class="search-input" type="text" placeholder=" Сотрудники" />
        <i class="bi bi-search search-icon"></i>
    </div>
</div>

<div id="employeeList" class="employee-list">
    @await Html.PartialAsync("_EmployeeListPartial", Model.Contacts)
</div>