@model IEnumerable<ContactViewModel>

@foreach (var contact in Model)
{
    <div class="employee-item">
        <img class="employee-avatar" src="@Url.Action("GetAvatar", "Account", new { userId = contact.Id })" alt="Аватар" />
        <div class="employee-info">
            <div class="employee-name">@contact.UserName</div>
            <span class="employee-post">@contact.PostName</span>
        </div>
    </div>
}